{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      {% block pregroup %} {% endblock pregroup %}
      {% block group_content %} {% endblock group_content %}
      {% block postgroup %} {% endblock postgroup %}
    </div>
  </div>

{% endblock %}
