{% extends 'groups/group_base.html' %}

<!-- Pregroup Block -->

{% block pregroup %}
<h1>{{group.name}}</h1>
<h6>Member Count: {{group.members.count}}</h6>

<div class="content">
  <a href="{% url "posts:create" %}" class='btn bg-info btn-sm'>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
    <span class="text-light icon-label">Add Post</span>
  </a>
  {% if user in group.members.all %}
    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-sm btn-fill btn-warning">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
      </svg>
      <span class="text-light icon-label">Out</span></a>
  {% else %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-sm btn-fill btn-warning">
      <span class="glyphicon glyphicon-ok-circle"></span>
      Join</a>
  {% endif %}
</div>

{% endblock pregroup %}


<!-- Group Content -->

{% block group_content %}

<div class="col-md-8">
  {% if group.posts.count == 0 %}
    <h2>No posts in this group yet!</h2>
  {% else %}
    {% for post in group.posts.all %}
      {% include "posts/_post.html" with word_length="30" %}
    {% endfor %}
  {% endif %}
</div>
{% endblock group_content %}
