{% extends 'groups/group_base.html' %}

<!-- Pregroup Block -->
{% block pregroup %}
<div class="col-md-4">
  <div class="container">
    {% if user.is_authenticated %}
    <h2> Welcome back
      <a href="#">@{{user.username}}</a>
    </h2>
    {% endif %}

    <h2> Groups </h2>
    <p>Welcome to the Group Page! Select a Group with a shared interest!</p>
  </div>

  {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class='btn btn-md btn-fill btn-warning'><span class="glyphicon glyphicon-plus-sign"></span> Create New Group!</a>
  {% endif %}
</div>
{% endblock pregroup %}


<!-- Group Content -->
{% block group_content %}

<div class="col-md-8">
  {% for group in group_list %}
  <div class="group-list card">
    <h3 class="card-title">
      <a href={% url 'groups:single' slug=group.slug %}>{{ group.name }}</a>
    </h3>
    <p class="card-text">{{ group.description_html|safe}}</p>

      <ul class="list-inline">
        <li class="list-inline-item"><span class="text-list badge">{{ group.members.count }}</span> member{{ group.members.count|pluralize }}</li>
        <li class="list-inline-item"><span class='text-list badge'>{{100}}</span> post{{100|pluralize}}</li>
      </ul>
  </div>
  <br>
  {% endfor %}
</div>











  <!-- <div class="col-md-8">
    <div class="list-group">
      {% for group in group_list %}
        <a class='list-group-item' href="{% url 'groups:single' slug=group.slug %}">
          <h3 class="title list-group-item-heading">{{ group.name }}</h3>
        </a>

        <div class="list-group-item-text container-fluid">
          {{ group.description_html|safe}}

          <div class="row">
            <div class="col-md-4">
              <span class="badge">{{ group.members.count }}</span> member{{ group.members.count|pluralize }}
            </div>
            <div class="col-md-4">
              <span class='badge'>{{100}}</span> post{{100|pluralize}}
            </div>
          </div> <br>
        </div>
      {% endfor %}
    </div>
  </div> -->

{% endblock group_content %}
