{% extends "groups/group_base.html" %}
{% load django_bootstrap5 %}

{% block group_content %}
<h4>Create A New Group</h4>
  <form method="POST" action="{% url 'groups:create' %}" id="groupForm">
  	{% csrf_token %}
  	{% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Create" %}
  	<!-- <input type="submit" value="Create" class="btn btn-primary btn-large"> -->
  </form>
{% endblock %}
