body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}

.mycontent{
  padding-top: 100px;
 border: 10px solid red;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #191063;
  margin: 0;
}


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}

.text-list{
  color:black;
}

.group-list{
  color:black;
  margin-top: 10px;
}

.group-list a{
  text-decoration: none;
}

.svg-delete{
  color:yellow;
}

.svg-edit{
  color:black;
}
