{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css_link %}
  <link rel="stylesheet" href="{% static 'accounts/css/master.css' %}">
{% endblock %}

{% block content %}

<div class="login-box">
  <h2>Login</h2>

  <form method='POST'>
    {% csrf_token %}

    <div class="user-box">
      <p style='color:white' >Username {{form.username}}</p>
    </div>

    <div class="user-box">
      <p style='color:white'>Password {{form.password}}</p>

    </div>



    <button class="btn btn-sm-dark">
      <span>-.-</span>
      <span>-*-</span>
      <span>-</span>
      <span>-.-</span>
      <b>Login</b>
    </button>
  </form>
</div>

{% endblock %}


<!-- @CopyRight URL: 'https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda' -->
