<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Social Site</title>
    {% include 'css.html' %}

    {% block css_link %}
    {% endblock %}

    {% include 'fonts_link.html'%}

  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>

    <canvas id="canvas"></canvas>
    {% include 'js.html' %}
  </body>
</html>
