<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand {% if request.path == home_url %} active {% endif %}" href="{% url 'index' %}"><span style="font-family: 'Pacifico', cursive; color:#ffb01f;">SoS</span> <span style="font-family: 'Pacifico', cursive;font-family: 'Padauk', sans-serif;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'posts:all'%}">Post</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Groups</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Groups
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item {% if request.path == home_url %} active {% endif %}" href="{% url 'groups:all' %}">Group List</a></li>
              <li><a class="dropdown-item {% if request.path == home_url %} active {% endif %}" href="{% url 'groups:create' %}">Create One</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <li class="nav-item">
          <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'account:logout' %}">Logout</a>
        </li>
      {% else %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'posts:all' %}">Post</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Groups</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Groups
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item {% if request.path == home_url %} active {% endif %}" href="#">Group List</a></li>
            <!-- <li><a class="dropdown-item" href="#">New Post</a></li> -->
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Registration</a>
        </li>
      </ul> -->
      {% endif %}
      <form class="d-flex ">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% if not user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'account:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'account:signup' %}">Registration</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
