{% load my_extras %}

<div class="media">
  <img src="..." class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0"><strong>{{ post.user.username }}</strong></h5>
    <small class="mt-0">
      <span class="username">
      <a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a>
      </span>
    </small>
    <p>
      <time class="time">
        <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a>
      </time>

      <strong>
        {% if post.group %}
        <span class='group-name'>in <a href="{% url 'groups:single' slug=post.group.slug %}">{{ post.group.name }}</a></span>
        {% endif %}
      </strong>
    </p>

    {% if word_length|convert_int > 0 %}

      <p>{{post.message_html|word_length:'30'|safe}} <a href="{% url 'posts:single' username=post.user pk=post.pk %}"> read more</a></p>
    {% else %}
      <div class="float-end">
        {% if user.is_authenticated and post.user == user and not hide_delete %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn bg-light btn-sm">
          <svg style="color:red;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
          </svg>
          <span class="text-light icon-label"></span>
        </a>

        <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn bg-light btn-sm">
          <svg style="color:black;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
          <span class="text-light icon-label"></span>
        </a>
        {% endif %}
      </div>
      <hr>
      <p>{{post.message_html|safe}}</p>
    {% endif %}
  </div>
</div>
