{% extends 'posts/post_base.html' %}
{% load django_bootstrap5 %}

{% block post_content %}
<h4>Create New Post</h4>
<form id="postForm" action="{% url 'posts:create' %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% bootstrap_button button_type="submit" content="Post" %}
</form>

{% endblock post_content %}
