{% extends 'posts/post_base.html' %}
{% load django_bootstrap5 %}

{% block post_content %}
  <h3>Do you want to delete the post?</h3>

  <div class="posts">
    {% include 'posts/_post.html' with post=object hide_delete=True%}
  </div><!--.posts-->

  <form method="post">

    {% csrf_token %}
    <input type="submit" value="Confirm Delete" class="btn btn-danger btn-large">
  	<a href="{% url 'posts:single' username=user.username pk=object.pk %}" class="btn btn-simple btn-large btn-light">Cancel</a>
  </form>
{% endblock post_content %}
