{% extends 'posts/post_base.html' %}
{% load humanize %}
{% load static %}
{% load my_extras %}

{% block prepost%}
  <div class="group-list col-md-4">
    {% if request.user.is_authenticated %}
    <div class="card card-with-shadow">
      <div class="content">
        <h5 class='title text-list'>Your Groups</h5>
        <ul class='list-unstyled'>
            {% for member_group in user_groups %}
            <li class='text-list group li-with-bullet'>
              <a href="{% url 'groups:single' slug=member_group.slug%}">{{member_group.name}}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <div class="group-list card card-with-shadow">
      <div class="content">
        <h5 class='title text-list'>All Groups</h5>
        <ul class='list-unstyled'>
          {% for other_groups in all_groups %}
            <li class='group li-with-bullet'>
              <a href="{% url 'groups:single' slug=other_groups.slug %}">{{other_groups.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock prepost%}

{% block post_content %}
<div class="col-md-8">
  {% for post in post_list %}
    {% include "posts/_post.html" with word_length="30" %}
  {% endfor %}
</div>
{% endblock post_content %}
